* {
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.menu-container {
	color: #fff;
	background-color: #DF5043;
	padding: 40px 0;
	display: flex;
	justify-content: center;
}

.brand {
	width: 900px;
	display: flex;
	justify-content: space-between;
	padding:0;
}

.links {
	list-style-type: none;
	margin-left: auto;
}
.links li{
	display: inline;
	padding-right: 40px;
	padding-left: : 20px;
}