body {
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	background-color: #000000;

}

.Main-Container{
	max-width: 1024px;
	width: 100%;
	background-color: red;
}

.Header{
	background-color: yellow;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.NavBar {
	background-color: blue;
	width: 100%;
	margin:0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.Menu {
	background-color: orange;
	list-style: none;
	display: flex;
	margin:0 0 0 auto;
	padding: 1% 0;
}

.Menu li{
	padding: 0 2em 0 2em;
}

.Menu li a {
	text-decoration: none;
}
.Logo-Container{
	width: 50%;
	height: 100%;
}

.Logo-Image{
	width: 100%;
	height: 100%;
}

.Hero-Container {
	width: 100%;
	display: flex;
	align-items: center;
	height: 25em;
	/*
	background-image: url("Images/Banner-1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	*/
}

.Hero-Image-Container{
	background-color: green;
	width: 75%;
	height: 100%;
}

.Hero-Image-Container-Image {
	width: 100%;
	height: 100%;
}

.Hero-Info-Container {
	background-color: purple;
	width: 25%;
	height: 100%;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.Hero-Info-Container span {
	font-weight: bolder;
	text-align: justify;
	padding: 0 5%;
}

.Login-Container {
	background-color: pink;
	display: flex;
	align-items: center;
	justify-content: center;
}


.Login-Button {
    background-color: #4CAF50;
    font-size: 2vw;
    color: #ffffff;
    padding: 4%;
    margin: 3% 0;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    width: 100%;
}

.Footer-Container {
	background-color: grey;
}

.Footer-Content-Container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Footer-Content {
	width: 32%;
	height: 8em;
	text-align: center;
	padding: 1%;
}

.Footer-Content span{
	color: #ffffff;
}

.Footer-Content-Image {
	width: 80%;
	padding-top: 5%;
}

.Rights {
	text-align: center;
	padding: 1% 0;
}
/* ESTILOS PARA EL MODAL */


/* Campos De tamaño completo */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Un sólo estilo para todos los botones */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Estilos especiales para el botón de Cancelar */
.CancelButton {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Centrar Imagen y Posicionael botón de Cancelar */
.ImgContainer {
    text-align: center;
    position: relative;
}

img.Avatar {
    width: 70%;
    padding-top: 3%;
}

.Container {
    padding: 1% 5%;
}

span.Password {
    float: right;
    padding-top: 2%;
}

/* Fondo del Modal */
.Modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Mantiene en la misma posición */
    z-index: 1; /* Colocar encima de todo */
    left: 0;
    top: -5%;
    width: 100%; /* Tamaño Completo */
    overflow: auto; /* Habilita el scroll */
    background-color: rgba(0,0,0,0.4); /* Fondo negro con opacidad */
    padding-top: 0;
}

/* Contenedor del Modal */
.Modal-Content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}

/* Botón de cerrado (x) */
.Close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.Close:hover,
.Close:focus {
    color: red;
    cursor: pointer;
}

/* Añadir animación de Zoom */
.Animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Cambia los estilos para el Span y el botón de Cancelar en pantallas pequeñas */
@media screen and (max-width: 300px) {
    span.Password {
       display: block;
       float: none;
    }
    .CancelButton {
       width: 100%;
    }
}