body {
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
}

.Main-Container{
	max-width: 1024px;
	width: 100%;
	background-color: red;
}

.Header{
	background-color: yellow;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.NavBar {
	background-color: blue;
	width: 100%;
	margin:0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.Menu {
	background-color: orange;
	list-style: none;
	display: flex;
	margin:0 0 0 auto;
	padding: 1% 0;
}

.Menu li{
	padding: 0 2em 0 2em;
}

.Menu li a {
	text-decoration: none;
}
.Logo-Container{
	width: 50%;
	height: 100%;
}

.Logo-Image{
	width: 100%;
	height: 100%;
}

.Hero-Container {
	width: 100%;
	display: flex;
	align-items: center;
	height: 25em;
	/*
	background-image: url("Images/Banner-1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	*/
}

.Hero-Image-Container{
	background-color: green;
	width: 75%;
	height: 100%;
}

.Hero-Image-Container-Image {
	width: 100%;
	height: 100%;
}

.Hero-Info-Container {
	background-color: purple;
	width: 25%;
	height: 100%;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.Hero-Info-Container span {
	font-weight: bolder;
	text-align: justify;
	padding: 0 5%;
}

.Login-Container {
	background-color: pink;
	display: flex;
	align-items: center;
	justify-content: center;
}


.Login-Button {
    background-color: #4CAF50;
    font-size: 2vw;
    color: #ffffff;
    padding: 4%;
    margin: 3% 0;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    width: 100%;
}

.Footer-Container {
	background-color: grey;
}

.Footer-Content-Container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Footer-Content {
	width: 32%;
	height: 9em;
	text-align: center;
	padding: 1%;
}

.Footer-Content span{
	color: #ffffff;
}

.Footer-Content-Image {
	width: 80%;
	padding-top: 5%;
}

.Rights {
	text-align: center;
	padding: 2% 0 1% 0;
}

.Rights-Image {
	width: 2%;
	vertical-align: middle;
}

.Hero-Lv2-Container {
	width: 100%;
	height: 30em;
	display: flex;
	align-items: center;
}

.Hero-Lv2-Image-Container {
	background-color: green;
	width: 100%;
	height: 100%;
}


.Hero-Lv2-Image {
	width: 100%;
	height: 100%;
}

.Hero-Lv2-Info-Container {
	width: 30%;
	height: auto;
	position: absolute;
	text-align: justify;
	color: #ffffff;
	font-weight: bolder;
	background-color: grey;
	padding: 1%;
	margin-left: 2%;
}

.Info-Container {
	background-color: orange;
	display: flex;
	padding: 1% 0;
}

.Form-Container {
	width: 30%;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 2%;
	margin-left: 1%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 3%;
    resize: none;
}

.Subject {
	height: 10em;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}